/** @format */

.red_bg {
  display: flex;
  align-items: center;
  justify-content :space-between
}

.logo{
  width : 10rem;
  height : 3.6rem;
}

.links_section {
  display: flex;
  align-items: center;
}
