/** @format */

.navigationLinkList {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  /* padding-right: 2rem; */
  align-items: center;
  margin-right: 2rem;
}
/* a:link,
a:visited {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  background-color: green;
}
 */
.nav_link:link,
.nav_link:visited {
  display: inline-block;
  text-decoration: none;
  /* font-size: 1.8rem; */
  font-weight: 500;
  color: #fff;
  background-image: linear-gradient(to right, #06a9a5, #06a9a5 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  padding-bottom: 0.6rem;
}

.nav_link:before {
  content: "";
  background: #82b53f;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav_link:hover::before {
  width: 100%;
}
.nav_link:hover,
.nav_link:active {
  background-position: 0;
}
